# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# Wikimedia Tool Labs specific note:
#   Please be aware that *only* jsub and jstart are acceptable
#   commands to schedule via cron.  Any command specified here will
#   be modified to be invoked through jsub unless it is one of
#   the two.
#

# Variables
PYTHON_BIN=/data/project/pacetrack/virtualenvs/pacetrack/bin/python
UPDATE_SCRIPT=/data/project/pacetrack/pacetrack/pacetrack/update.py
CRON_LOG_PATH=/data/project/pacetrack/logs/cron.txt
LOGPATH=/data/project/pacetrack/logs

# m h  dom mon dow   command
*/10 * * * *  jsub -o $LOGPATH/pt_out.txt -N PaceTrackUpdate -e $LOGPATH/en_err.txt $PYTHON_BIN $UPDATE_SCRIPT >> $CRON_LOG_PATH
