ashes==17.0.0
attrs==18.2.0
boltons>=19.1.0
certifi>=2018.11.29
chardet==3.0.4
face>=19.0.0
gevent>=1.2.2  # newer won't work on labs
greenlet==0.4.15
glom>=19.1.0
hyperlink==18.0.0
idna==2.7
lithoxyl==0.4.3
requests==2.20.1
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.80
six==1.12.0
tqdm==4.28.1
urllib3==1.24.1
