<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PaceTrack</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"> <!-- not available via cdnjs -->
        <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

    </head>

    <body class="bg-light">

    <nav class="navbar navbar-light bg-dark">
        <div class="container">
            <a class="navbar-brand text-light" href="#"><i class="fa fa-car"></i> PaceTrack</a>

            <ul class="nav justify-content-end text-light">
              <li class="nav-item">
                <a class="nav-link text-light" href="#"><i class="fa fa-book"></i> About</a>
              </li>
            </ul>
        </div>
    </nav>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="index.html">{name}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Articles</li>
      </ol>
    </nav>
    
    <!-- Campaigns -->
    
    <div class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h1 class="border-bottom border-gray">{name}</h1>
        <p class="lead">{campaign_start_date} -- {campaign_end_date}</p>
        <p>{description}</p>
        <ul>
            <li>Wikiproject: <a href="https://{lang}.wikipedia.org/wiki/Wikipedia:{wikiproject_name}">{wikiproject_name}</a></li>
            <li>Articles: {article_count}</li>
            <li>Organized by: {#contacts}<a href="#">{.}</a>{/contacts}</li>
            <li>Last updated: {date_updated}</li>
        </ul>
        <p><a href="index.html" class="btn btn-primary">Campaign overview</a> <a href="#" class="btn btn-outline-primary"><i class="fa fa-download"></i> Download project summary</a></p>
        <p></p>
        <h2>Article list</h2>
        <table class="table hover" id="articles">
            <thead>
                <tr>
                    {#goals}
                    <th scope="col">{name}</th>
                    {/goals}
                </tr>
            </thead>
            <tbody>
                {#latest}
                <tr>
                    <th scope="row"><a href="https://{lang}.wikipedia.org/wiki/{title}">{title}</a></th>
                    {#results}
                    {?done}<td class="table-success"{?cur}data-order="{cur}"{/cur}>Yes{?target} ({cur}/{target}){/target}</td>{:else}<td class="table-danger"{?cur}data-order="{cur}"{/cur}>No{?target} ({cur}/{target}){/target}</td>{/done}
                    {/results}
                </tr>
                {/latest}
            </tbody>
        </table>

    </div>

    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#articles').DataTable();
        } );
        </script>
    </body>
</html>
